.listComments {
	width: 91%;
	margin-left: auto;
}

.itemComment {
	position: relative;
	margin-bottom: 8px;
	//margin-left: auto;
	box-sizing: border-box;
	//padding: 7px 11px 18px;
	//width: 75%;
	//border-radius: 6px;
	//background-color: rgba(142, 211, 243, .2);
}

.boxComment {
	position: relative;
	margin-bottom: 8px;
	box-sizing: border-box;
	padding: 9px 11px 19px;
	width: 100%;
	border-radius: 6px;
	background-color: rgba(142, 211, 243, .2);
}

.authorComment,
.contentComment {
	box-sizing: border-box;
	padding: 4px 9px;
	word-break: break-all;
	border-radius: 4px;
	background-color: rgba(159, 209, 245, .3);
}

.authorComment {
	margin-bottom: 7px;
}

.timeComment {
	box-sizing: border-box;
	padding-right:	2px;
	font-size: 14px;
	text-align: right;
	color: rgb(104, 98, 98);
}

.btnAnswer {
	position: absolute;
	right: 20px;
	bottom: 2px;
	display: inline-flex;
	width: 30px;
	height: 14px;
	// font-size: 22px;
	// line-height: 10px;
	background:   rgb(252, 184, 153);//rgba(221, 173, 175, 0.9);
	border-radius: 5px;
	&::after {
		content: '...';
		position: absolute;
		left: 8px;
		bottom: 6px;
		font-size: 20px;
		line-height: 10px;
		color: rgb(110, 101, 101);
	}
}