.contentProject {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 280px;
	max-width: 280px;
	min-height: 450px;
	// border: 1px solid rgb(221, 32, 32);
	// border-radius: 7px;
}

.spanNumber {
	margin-right: 6px;
	font-size: 23px;
}
.headingProject {
	font-size: 27px;
	text-align: center;
	color: rgba(0,0,0,.8);
}