.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
}

.boxModalContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

