.containerTasks {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	max-width: 920px;//911px;
	margin: 0 auto;
} 

.boxBtnCreateTask {
	margin-bottom: 20px;
}
.btnCreateTask {
	display: inline-flex;
	padding: 12px 27px;
	font-size: 18px;
	color: #fff;
	border-radius: 13px;
	background: rgb(74, 190, 80);
	&:hover,
	&:active,
	&:focus {
		background: rgba(74, 190, 80, .7);
	}
}

.listColumnsStatus {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	li:nth-of-type(3n-2) {
		border: 2px solid rgb(25, 233, 146);
	}
	li:nth-of-type(2n) {
		border: 2px solid rgb(221, 32, 32);
	}
	li:nth-of-type(3n) {
		margin-right: 0;
		border: 2px solid rgb(14, 154, 248);
	}
}

.columnTasks {
	margin-right: 29px;
	margin-bottom: 17px;
	min-width: 280px;
	min-height: 450px;
	border-radius: 7px;
}

.titleColumn {
	margin-bottom: 17px;
	padding-top: 10px;
	text-align: center;
}

.boxTask {
	position: relative;
	margin: 0 7px 13px;
	box-sizing: border-box;
	padding: 15px 9px 7px;
	max-width: 267px;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 5px;
	cursor: grab;
}

.listItemsTask {
	display: flex;
	margin-bottom: 14px;
}

.numberTask {
	display: inline-block;
	margin-right: 3px;
	border: none !important;
}

.titleTask {
	display: inline-block;
	border: none !important;
}

.boxBtnsTask {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.btnDetails {
	position: absolute;
	right: 12px;
	top: 7px;
	display: inline-flex;
	background: transparent;
}

.svgBoxDetails {
	display: inline-flex;
	width: 19px;
	height: 10px;
	color: rgb(110, 101, 101, .9);
	&:hover,
	&:focus {
		color: orange;//rgb(74, 190, 80);
	}
}

.btnEditing {
	background: transparent;
}

.svgBoxEditing {
	width: 21px;
	height: 21px;
	color: #507963;

	&:hover {
		opacity: 0.7;
	}
}

.btnSubtask {
	display: inline-flex;
	margin-right: 12px;
	padding: 5px 12px 6px;
	font-size: 15px;
	color: #fff;
	border-radius: 8px;
	background: rgba(255, 111, 45, 0.9);
	&:hover,
	&:active,
	&:focus {
		background: rgba(255, 111, 45, 0.7);
	}
}