.dateSelector {
	position: relative;
	border: 1px solid #B6B7BA;
	border-radius: 10px;
	width: 266px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	&::before,&::after {
		content: '';
		position: absolute;
		z-index: 20000;
		width: 1px;
		height: 39px;
		background-color: #B6B7BA;
		top: 0;
	}
	&::before {
		left: 69px;
	}
	&::after {
		right: 89px;
	}
}

.boxDaySelected,
.boxMonthSelected,
.boxYearSelected {
	width: 69px;
	[class$='singleValue'] {
		text-align: center;
		text-transform: capitalize;
	}
}

.boxMonthSelected {
	width: 108px;
}

.boxYearSelected {
	width: 89px;
}
